node_modules
coverage
.terraform
*.tfstate*
*.tfvars

.DS_Store
.vscode
build/
.env
public/
.connect/
# secrets & logs
*.pem
*.key
*id_rsa*
*.log
FullSync/fullsync.log

# secrets & logs
key
*.pem
*.key
*id_rsa*
*.log
